@font-face {
    font-family: 'Founders Grotesk X-Cond Reg';
    src: url('FoundersGroteskX-Condensed-Regular.woff2') format('woff2'),
        url('FoundersGroteskX-Condensed-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SS Nickson Six';
    src: url('SSNicksonSix.woff2') format('woff2'),
        url('SSNicksonSix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

